@using UniWeb.Database
@model UniWeb.Entities.WebModels.Student.RegistrationStudentViewModel

@{
    ViewBag.Title = "Регистрация студента";
    Layout = "_Layout";
}

<div class="container mb-24pt mb-md-0">
    <div class="justify-content-center align-items-center d-flex mb-24pt mb-md-0"></div>
    <h3 class="mt-4">Регистрация студента</h3>
    <div class="alert alert-primary" role="alert">
        Верификация студента будет проходить по адресу студенческой корпоративной электронной почты 
    </div>
    <div class="">
        <form asp-action="Register" method="post" asp-controller="Student" class="mb-4">
            <div class="form-group">
                <label class="form-label" for="name">Корпоративный адрес электронной почты</label>
                <input id="name" type="email" class="form-control" asp-for="Email" placeholder="me@@msu.ru">
                <small style="color: gray">В обязательном порядке необходимо ввести корпоративный адрес. Есть уже верифицированный аккаунт в базе: a.musin@@my.mgimo.ru pass: admin</small>
            </div>

            <div class="form-group">
                <label class="form-label" for="">Имя</label>
                <input id="" type="text" class="form-control" asp-for="Name" placeholder="Анакентий">
            </div>

            <div class="form-group">
                <label class="form-label" for="">Фамилия</label>
                <input id="" type="text" class="form-control" asp-for="Surname" placeholder="Вагнер">
            </div>

            <div class="form-group">
                <label class="form-label" for="">Курс обучения</label>
                <input id="" type="number" class="form-control" asp-for="Course" placeholder="1">
            </div>

            <div class="form-group">
                <label class="form-label" for="">Факультет</label>
                <input id="" type="text" class="form-control" asp-for="Faculty" placeholder="Экономики">
            </div>

            <div class="form-group">
                <label class="form-label" for="">Имя пользователя в телеграмм</label>
                <input id="" type="text" class="form-control" asp-for="TelegramUserName" placeholder="@@meintelegram">
            </div>

            

            <div class="form-group">
                <label class="form-label" for="">Введите номер своего студенческого</label>
                <input id="" type="text" class="form-control" asp-for="TelegramUserName" placeholder="УНИК8329-12">
            </div>

            <div class="form-group mb-24pt">
                <label class="form-label" for="password">Пароль:</label>
                <input id="password" type="password" class="form-control" asp-for="Password" placeholder="Your password ...">
            </div>

            <div class="form-group mb-24pt">
                <label class="form-label" for="password-2">Повторите пароль:</label>
                <input id="password-2" type="password" class="form-control" placeholder="Your password ...">
            </div>

            <div asp-validation-summary="ModelOnly" style="color: red; text-decoration: none"></div>
            
            <button class="btn btn-primary">Создать аккаунт</button>
        </form>
    </div>
</div>
